/** @format */

/** @format */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap');

// .container {
// 	display: grid;
// 	grid-template-columns: 300px 300px 300px;
// 	grid-gap: 50px;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
// 	background-color: #b10808;
// 	font-family: 'Baloo Paaji 2', cursive;
// }

.card {
	background-color: #3d5a80;
	height: 39.1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(10px, 2px, 10px, 0.911);
	color: white;
}

.card__name {
	margin-top: 15px;
	font-size: 1.5em;
}

.card__image {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 5px solid #e0fbfc;
	margin-top: 20px;
	box-shadow: 0 10px 50px rgba(9, 135, 197, 1.5);
}
.cardList {
	padding: 0;
	list-style: none;
	margin: 1em;
}
.cardList li {
	display: inline-block;
	margin: 0.35em;
	position: relative;
	font-size: 1em;
}
.draw-border {
	box-shadow: inset 0 0 0 4px #e7ecec;
	color: #020a0e;
	-webkit-transition: color 0.25s 0.0833333333s;
	transition: color 0.25s 0.0833333333s;
	position: relative;
}

.draw-border::before,
.draw-border::after {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: '';
	pointer-events: none;
	position: absolute;
	width: 0rem;
	height: 0;
	bottom: 0;
	right: 0;
}

.draw-border::before {
	border-bottom-width: 4px;
	border-left-width: 4px;
}

.draw-border::after {
	border-top-width: 4px;
	border-right-width: 4px;
}

.draw-border:hover {
	color: #e3e2f1;
}

.draw-border:hover::before,
.draw-border:hover::after {
	border-color: #281ccf;
	-webkit-transition: border-color 0s, width 0.25s, height 0.25s;
	transition: border-color 0s, width 0.25s, height 0.25s;
	width: 100%;
	height: 100%;
}

.draw-border:hover::before {
	-webkit-transition-delay: 0s, 0s, 0.25s;
	transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
	-webkit-transition-delay: 0s, 0.25s, 0s;
	transition-delay: 0s, 0.25s, 0s;
}

.profileBtn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1;
	font: 600 1.2rem 'Roboto Slab', sans-serif;
	padding: 0.5em 1em;
	letter-spacing: 0.05rem;
	margin: 1em;
	width: 8rem;
}

.profileBtn:focus {
	outline: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	font-size: 1.2em;
}
